<phpunit bootstrap="./Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="AMS Test Suite">
            <directory suffix="Test.php">./ams/model/</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>disable</group>
            <group>integration</group>
            <group>integration-sqlserver</group>
        </exclude>
    </groups>

    <php>

        <includePath>/usr/local/ZendFramework/library/</includePath>
        <includePath>./CMS3Test/Models/</includePath>
        <!-- Integration Test Variables -->
        <!--<var name="ZEND_DB_ADAPTER_DRIVER_SQLSRV_HOSTNAME" value="" />-->
        <!--<var name="ZEND_DB_ADAPTER_DRIVER_SQLSRV_USERNAME" value="" />-->
        <!--<var name="ZEND_DB_ADAPTER_DRIVER_SQLSRV_PASSWORD" value="" />-->
        <!--<var name="ZEND_DB_ADAPTER_DRIVER_SQLSRV_DATABASE" value="" />-->

    </php>



</phpunit>
