  <!-- block:content -->
    <div class="left">
        <h1>{{t('my_application')}}</h1>
<div class="message">
    {{message}}
</div>
<div class="content">
    <div class="container">
  <div id="leftSide">
  <fieldset>
      <legend>{{t('confirm')}}</legend>
    {{form}}
        </fieldset>
    </div>
<!-- include '/my/application/file/nav' -->
</div>
</div>
    </div>
    <div class="right">
        <!-- include '/my/sidebar' -->
    </div>

    <div style="clear: both;"> </div>
  <!-- endblock -->
