  <!-- block:content -->
    <div class="left">

        <h1>{{t('application')}}</h1><br/>
        <!-- if {{role}}!='customer' && isset({{user_id}}) -->
        <a href="applications/create">{{t('create')}}</a><br>
        <!-- endif -->
        <!-- if {{role}}=='customer' -->
        <!-- include '/my/application/list_for_customer' -->
        <!-- else -->
        <!-- include '/my/application/list' -->
        <!-- endif -->
    </div>

    <div class="right">
        <!-- include '/my/sidebar' -->
    </div>

    <div style="clear: both;"> </div>
  <!-- endblock -->
