        <!-- if {{isset(applications)}} && !{{empty(applications)}} -->
        <div class="list">
        <table class="list">
            <tbody>

                <tr>
                <!-- if ({{role}}=='customer') -->
                <th># </th>
                <th>{{t('type')}}</th>
                <th>{{t('start_date')}}</th>
                <th>{{t('end_date')}}</th>
                <th>{{t('status')}}</th>
                <!-- else -->
                <th><a href="{{baseurl}}{{range}}/applications/sort/id/desc">#</a> </th>
                <th><a href="{{baseurl}}{{range}}/applications/sort/type/desc">{{t('type')}}</a> </th>
                <th><a href="{{baseurl}}{{range}}/applications/sort/id/desc">{{t('customer')}}</a> </th>
                <th><a href="{{baseurl}}{{range}}/applications/sort/id/desc">{{t('start_date')}}</a> </th>
                <th><a href="{{baseurl}}{{range}}/applications/sort/id/desc">{{t('end_date')}}</a> </th>
                <th><a href="{{baseurl}}{{range}}/applications/sort/id/desc">{{t('status')}}</a> </th>
                <!-- endif -->
                </tr>
                <!-- loop applications -->
                <tr>
                <td><a href='{{baseurl}}index.php/my/applications/{{applications' value.@id}}'>{{applications' value.@id}}</a></td>
                <td>{{applications' value.@type}}</td>
                <!-- if ({{role}}!='customer') -->
                <td><a href='{{baseurl}}index.php/my/users/{{applications' value.@user_id}}'>{{applications' value.@User.@first_name}}</a></td>
                <!-- endif -->
                <td>{{applications' value.@start_date}}</td>
                <td>{{applications' value.@end_date}}</td>
                <!-- if ({{role}}!='customer') -->
                <td><a href="{{baseurl}}my/applications/{{applications' value.@id}}/status">{{applications' value.@status}}</a></td>
                <!-- else -->
                <td>{{applications' value.@status}}</td>
                <!-- endif -->
                </tr>
                <!-- endloop -->

        </tbody></table>
        </div>

        <hr class="divider"/>
        {{pager}}
        <!-- else -->
        {{t('no_records')}}
        <!-- endif -->
