        <!-- if {{isset(applications)}} && !{{empty(applications)}} -->
        <div class="list">
        <table class="list">
            <tbody>

                <tr>
                <th># </th>
                <th>Type</th>
                <!-- if ({{role}}!='customer') -->
                <th>Customer</th>
                <!-- endif -->
                <th>Start Date</th>
                <th>Status</th>
                </tr>
                <!-- loop applications -->
                <tr>
                <td><a href='{{baseurl}}index.php/my/applications/{{applications' value.@id}}'>{{applications' value.@id}}</a></td>
                <td>{{applications' value.@type}}</td>
                <!-- if ({{role}}!='customer') -->
                <td><a href='{{baseurl}}index.php/my/users/{{applications' value.@user_id}}'>{{applications' value.@User.@first_name}}</a></td>
                <!-- endif -->
                <td>{{applications' value.@start_date}}</td>
                <td>{{applications' value.@status}}</td>
                </tr>
                <!-- endloop -->

        </tbody></table>
        </div>

        <hr class="divider"/>
        {{pager}}
        <!-- else -->
        {{t('no_records')}}
        <!-- endif -->
