  <!-- block:content -->
      <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/themes/base/jquery-ui.css" id="theme">
    <div class="left">
        <h1>{{t('my_application')}}</h1>
<div class="message">
    {{message}}
</div>
<div class="content">
    <div class="container">
  <div id="leftSide">
  <fieldset>
      <legend>{{t('application_details')}}</legend>
    {{form}}
        </fieldset>
    </div>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
      <script type="text/javascript">
          var elements = ['school', 'subject', 'course'];
          var schools_count = 1;
          function checkApplicationType() {
              var type = $("#type-element").val();
              if (type=='' || type.indexOf('visa_') >= 0) {
                  for(var i=0; i<elements.length; i++) {
                      $("label[for='"+elements[i]+"-element']").hide();
                      $("#"+elements[i]+"-element-wrapper").hide();
                  }
              } else {
                  for(var i=0; i<elements.length; i++) {
                      $("label[for='"+elements[i]+"-element']").show();
                      $("#"+elements[i]+"-element-wrapper").show();
                  }
              }
          }

          function init() {
              if(typeof jQuery=="undefined"||typeof jQuery.fn.Zebra_Form=="undefined") {
                  setTimeout("init()",100);
                  return
              }
              var required_error = "{{t('required_error')}}";
              $("#form").Zebra_Form({scroll_to_error:true,
                      tips_position:'left',
                      close_tips:true,
                      validate_on_the_fly:false,
                      validate_all:false,
                      error_messages:{"type-element":{"required":required_error},
              }});
              $("#type-element").bind('change', function() {
                  checkApplicationType();
              });

              $("#add-school").bind('click', function() {
                  var s = $("#submit-field-wrapper");
                  var cnt = $("#course-application-count").val();
                  schools_count++;
                  $("dd").first().clone().insertBefore(s);
                  for(var i=0; i<elements.length; i++) {
                      $("label[for='"+elements[i]+"-element']").first().clone().insertBefore(s);
                      $("#"+elements[i]+"-element-wrapper").clone().attr('id', elements[i]+"-element-wrapper-"+schools_count).find("input:text").val("").end().insertBefore(s);
                  }
              });
              checkApplicationType();
          }
          init()
      </script>
</div>
</div>
    </div>
    <div class="right">
        <!-- include '/my/sidebar' -->
    </div>

    <div style="clear: both;"> </div>
  <!-- endblock -->
