  <!-- block:content -->
  <link rel="stylesheet" href="{{baseurl}}global/css/jquery-ui.css" id="theme">
  <link rel="stylesheet" href="{{baseurl}}global/css/jquery.image-gallery.min.css">
      <link rel="stylesheet" type="text/css" href="{{baseurl}}global/css/jquery.fileupload-ui.css" media="screen" />
      <link rel="stylesheet" type="text/css" href="{{baseurl}}global/css/fileupload-style.css" media="screen" />
    <div class="left">
        <h1>My Files</h1>
<div class="message">
    {{message}}
</div>
<div class="content">
    <div class="container">
  <div id="leftSide">
    <div class="message">
        {{instruction}}
    </div>
    <!-- The file upload form used as target for the file upload widget -->
<form id="fileupload" action="{{rootUrl}}index.php/files/upload?application_id={{application.@id}}" method="POST" enctype="multipart/form-data">
        <!-- Redirect browsers with JavaScript disabled to the origin page -->
<noscript><input type="hidden" name="redirect" value="{{rootUrl}}index.php/files/upload?application_id={{application.@id}}"></noscript>
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div id="uploadbars" class="row fileupload-buttonbar">
            <div class="span7">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button">
                    <i class="icon-plus icon-white"></i>
                    <span>Add files...</span>
                    <input type="file" name="files[]" multiple>
                </span>
                <button type="submit" class="btn btn-primary start">
                    <i class="icon-upload icon-white"></i>
                    <span>Start upload</span>
                </button>
                <button type="reset" class="btn btn-warning cancel">
                    <i class="icon-ban-circle icon-white"></i>
                    <span>Cancel upload</span>
                </button>
                <button type="button" class="btn btn-danger delete">
                    <i class="icon-trash icon-white"></i>
                    <span>Delete</span>
                </button>
                <input type="checkbox" class="toggle">
            </div>
            <!-- The global progress information -->
            <div class="span5 fileupload-progress fade">
                <!-- The global progress bar -->
                <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="bar" style="width:0%;"></div>
                </div>
                <!-- The extended global progress information -->
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <!-- The loading indicator is shown during file processing -->
        <div class="fileupload-loading"></div>
        <br>
        <!-- The table listing the files available for upload/download -->
        <table role="presentation" class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <br>
        <br>
        <div class="row fileupload-buttonbar">
            <div class="span7">
                <span class="btn btn-success fileinput-button prev">
                    <i class="icon-plus icon-white"></i>
                    <a href="{{prev_url}}">{{t('prev')}}</a>
                </span>
                <span class="btn btn-success fileinput-button next">
                    <i class="icon-plus icon-white"></i>
                    <a href="{{next_url}}">{{t('next')}}</a>
                </span>
            </div>
            <!-- The global progress information -->
        </div>
    </form>
<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td class="preview"><span class="fade"></span></td>
        <td class="name"><span>{%=file.name%}</span></td>
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
        <td class="delete">{{application_file}}</td>
        {% if (file.error) { %}
            <td class="error" colspan="2"><span class="label label-important">Error</span> {%=file.error%}</td>
        {% } else if (o.files.valid && !i) { %}
            <td>
                <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="bar" style="width:0%;"></div></div>
            </td>
            <td class="start">{% if (!o.options.autoUpload) { %}
                <button class="btn btn-primary">
                    <i class="icon-upload icon-white"></i>
                    <span>Start</span>
                </button>
            {% } %}</td>
        {% } else { %}
            <td colspan="2"></td>
        {% } %}
        <td class="cancel">{% if (!i) { %}
            <button class="btn btn-warning">
                <i class="icon-ban-circle icon-white"></i>
                <span>Cancel</span>
            </button>
        {% } %}</td>
    </tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        {% if (file.error) { %}
            <td></td>
            <td class="name"><span>{%=file.name%}</span></td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td class="error" colspan="2"><span class="label label-important">Error</span> {%=file.error%}</td>
        {% } else { %}
            <td class="preview">{% if (file.thumbnail_url) { %}
                <a href="{%=file.url%}" title="{%=file.name%}" data-gallery="gallery" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
            {% } %}</td>
            <td class="name">
                <a href="{%=file.url%}" title="{%=file.name%}" data-gallery="gallery" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
            </td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td class="delete"><span>{%=file.application_file%}</span><input type="hidden" name="files[]" value="{%=file.application_file_id%}" {% if (file.mandatory==1) { %}required{% }%}></td>
            <td colspan="2"></td>
        {% } %}
        <td class="delete">
            <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}"{% if (file.delete_with_credentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                <i class="icon-trash icon-white"></i>
                <span>Delete</span>
            </button>
            <input type="checkbox" name="delete" value="1">
        </td>
    </tr>
{% } %}
</script>
<script src="{{baseurl}}global/js/jquery-ui.min.js"></script>
<script src="{{baseurl}}global/js/tmpl.min.js"></script>
<script src="{{baseurl}}global/js/canvas-to-blob.min.js"></script>
<script src="{{baseurl}}global/js/load-image.min.js"></script>
<script src="{{baseurl}}global/js/jquery.image-gallery.min.js"></script>
<script src="{{baseurl}}global/js/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="{{baseurl}}global/js/jquery.fileupload.js"></script>
<script type="text/javascript" src="{{baseurl}}global/js/jquery.fileupload-fp.js"></script>
<script type="text/javascript" src="{{baseurl}}global/js/jquery.fileupload-ui.js"></script>
<script type="text/javascript" src="{{baseurl}}global/js/jquery.fileupload-jui.js"></script>
<script type="text/javascript">

var files = {{files}};
var files_required = jQuery.map(files, function(n, i){ if (n.mandatory==1) {return n.id;} });
var files_required_uploaded = 0;

function filesRequiredUploaded() {
    return files_required_uploaded >= files_required.length;
}

function getFilesRequiredUploaded(fs) {
    var applicationFiles = jQuery.map(fs, function(n, i){ if (n.mandatory==1) {return n.applicationFile;} });
    return $.unique(applicationFiles).length;
}

$(function () {
    //'use strict';

    var files_url = "{{baseurl}}files";
    // Initialize the jQuery File Upload widget:
    $('#fileupload').fileupload({
        // Uncomment the following to send cross-domain cookies:
        //xhrFields: {withCredentials: true},
        url: files_url + '?application_id={{application.@id}}'
    });

        // Demo settings:
        $('#fileupload').fileupload('option', {
            maxFileSize: 5000000,
            acceptFileTypes: /(\.|\/)(gif|jpe?g|png|docx?|txt|xlsx|pdf|xls)$/i,
            async: true,
            process: [
                {
                    action: 'load',
                    fileTypes: /^image\/(gif|jpeg|png)$/,
                    maxFileSize: 500000 // 500KB
                },
                {
                    action: 'resize',
                    maxWidth: 1440,
                    maxHeight: 900
                },
                {
                    action: 'save'
                }
            ]
        });
        // Load existing files:
        $.ajax({
            // Uncomment the following to send cross-domain cookies:
            //xhrFields: {withCredentials: true},
            url: $('#fileupload').fileupload('option', 'url'),
            dataType: 'json',
            context: $('#fileupload')[0]
        }).done(function (result) {
            $(this).fileupload('option', 'done')
                .call(this, null, {result: result});
            files_required_uploaded = getFilesRequiredUploaded(result.files);

            if (filesRequiredUploaded()) {
                $('#fileupload span.next').show();
            } else {
                $('#fileupload span.next').hide();
            }
        });

    // Initialize the Image Gallery widget:
    $('#fileupload .files').imagegallery();
    $('#fileupload').bind('fileuploadsubmit', function (e, data) {
        var inputs = data.context.find(':input');
        if (inputs.filter('[required][value=""]').first().focus().length) {
            return false;
        }
        // duplicated selection
        var f = inputs.filter('[required]').first().children("option").filter(":selected").text();
        if ($('td.type span:contains("'+f+'")', this).length > 0) {
            alert("{{t('duplicated_application_file')}}");
            return false;
        }
        data.formData = inputs.serializeArray();
    });

    $('#fileupload').bind('fileuploaddone', function (e, data) {
        var inputs = data.context.find(':input');
        var f = inputs.filter('[required]').first().children("option").filter(":selected").val();
        if (jQuery.inArray(f+'', files_required) != -1) {
            files_required_uploaded++;
        }
        if (filesRequiredUploaded()) {
            $('span.next', this).show();
        }
    });

    $('#fileupload').bind('fileuploaddestroy', function (e, data) {
        var inputs = data.context.find(':input');
        var f = inputs.filter('[required]').first().val();
        if (jQuery.inArray(f+'', files_required) != -1) {
            files_required_uploaded--;
            $('span.next', this).hide();
        }
    });
});
</script>
</div>
</div>
</div>
    </div>
    <div class="right">
        <!-- include '/my/sidebar' -->
    </div>

    <div style="clear: both;"> </div>
  <!-- endblock -->
