    <div class="listmenu">
        <h2>{{t('admin')}}</h2>
        <ul>
            <li>
                <a href="{{indexUrl}}/my/profile">{{t('profile')}}</a>
                <a href="{{indexUrl}}/admin/users/">{{t('user')}}</a>
                <a href="{{indexUrl}}/admin/applications/">{{t('application')}}</a>
                <a href="{{indexUrl}}/admin/application_files/">{{t('application_file')}}</a>
                <a href="{{indexUrl}}/admin/emails/">{{t('email')}}</a>
                <a href="{{indexUrl}}/logout/">{{t('logout')}}</a>
            </li>
        </ul>
    </div>
