<div class="message">
    {{message}}
</div>
<div class="content">
    <div class="container">
  <div id="leftSide">
  <fieldset>
    <legend>{{t('user_details')}}</legend>
    {{form}}
    </fieldset>
  </div>
      <script type="text/javascript">
          function init() {
              if(typeof jQuery=="undefined"||typeof jQuery.fn.Zebra_Form=="undefined") {
                  setTimeout("init()",100);
                  return
              }
              var required_error = "{{t('required_error')}}";
              var pinyin_error = "{{t('pinyin_error')}}";
              $("#form").Zebra_Form({scroll_to_error:true,
                      tips_position:'left',
                      close_tips:true,
                      validate_on_the_fly:true,
                      validate_all:false,
                      error_messages:{
                      "first_name-element":{"required":required_error},
                      "last_name-element":{"required":required_error},
                      "first_name_alphabet-element":{"required":required_error,"alphabet":pinyin_error},
                      "last_name_alphabet-element":{"required":required_error,"alphabet":pinyin_error},
                      "password-element":{"required":"{{t('input_password')}}","length":"{{t('password_length')}}"},
                      "email-element":{"required":required_error,"email":"Email address seems to be invalid!"},
                      "phone-element":{"required":required_error,"number":"invalid phone number!"},
                      "qq-element":{"number":"invalid QQ number!"},
                      "type-element":{"required":required_error}
                      }})}
              init()
      </script>
</div>
</div>
