        <!-- if {{isset(users)}} && !{{empty(users)}} -->
        <form id="frm" name="frm" method="post">
        <div>
            <select name="operation" id="operation" disabled>
                <option value="-">---</option>
                <option value="delete">{{t('delete')}}</option>
                <option value="export">{{t('export')}}</option>
            </select>
        </div>
        <div class="list">
        <table class="list">
            <tbody>
                <tr>
                <th><input type=checkbox id='all' name='all'></input></th>
                <th><a href="{{baseurl}}{{range}}/users/sort/id/{{orderType}}/page/1">#</a></th>
                <th><a href="{{baseurl}}{{range}}/users/sort/last_name/{{orderType}}/page/1">{{t('last_name')}}</a></th>
                <th><a href="{{baseurl}}{{range}}/users/sort/first_name/{{orderType}}/page/1">{{t('first_name')}}</a></th>
                <th><a href="{{baseurl}}{{range}}/users/sort/email/{{orderType}}/page/1">{{t('email')}}</a></th>
                <th><a href="{{baseurl}}{{range}}/users/sort/phone/{{orderType}}/page/1">{{t('phone')}}</a></th>
                <th><a href="{{baseurl}}{{range}}/users/sort/qq/{{orderType}}/page/1">{{t('qq')}}</a></th>
                <th><a href="{{baseurl}}{{range}}/users/sort/type/{{orderType}}/page/1">{{t('type')}}</a></th>
                <th><a href="{{baseurl}}{{range}}/users/sort/status/{{orderType}}/page/1">{{t('status')}}</a></th>
                <th><a href="{{baseurl}}{{range}}/users/sort/confirm_code/{{orderType}}/page/1">{{t('confirm_code')}}</a></th>
                <th>{{t('application')}}</th>
                </tr>
                <!-- loop users -->
                <tr>
                <td><input type=checkbox name="users[]" value="{{users' value.@id}}"></input></td>
                <td><a href='{{baseurl}}index.php/users/{{users' value.@id}}'>{{users' value.@id}}</a></td>
                <td>{{users' value.@last_name}}</td>
                <td>{{users' value.@first_name}}</td>
                <td>{{users' value.@email}}</td>
                <td>{{users' value.@phone}}</td>
                <td>{{users' value.@qq}}</td>
                <td>{{users' value.@type}}</td>
                <td>{{users' value.@status}}</td>
                <td>{{users' value.@confirm_code}}</td>
                <td><a href="{{baseurl}}index.php/admin/users/{{users' value.@id}}/applications">{{t('application')}}</a></td>
                </tr>
                <!-- endloop -->

        </tbody></table>
        </div>

        <hr class="divider"/>
        {{pager}}
      <script type="text/javascript">
          function itemChecked() {
            if ($(":checkbox:checked").length>0) return true;
            return false;
          }
          function operationCheck() {
            $("#operation").attr('disabled', !itemChecked());
          }
          function init() {
              if(typeof jQuery=="undefined") {
                  setTimeout("init()",100);
                  return
              }
              $("#all", this.frm).bind("click", function(e){
                $("input[type='checkbox']", this.frm).not("#all").attr('checked', this.checked);
                operationCheck();
              });
              $("input[type='checkbox']", this.frm).not("#all").bind("click", function(e){
                operationCheck();
              });

              $("#operation", this.frm).bind("change", function(e){
                var conf = confirm("{{t('confirm_yes_no')}}");
                if(conf == true){
                  $('#frm').submit();
                }
              });
          }
          init()
      </script>
        <!-- else -->
        {{t('no_records')}}
        <!-- endif -->
