        <!-- if {{isset(users)}} && !{{empty(users)}} -->
        <div class="list">
        <table class="list">
            <tbody>

                <tr>
                <th># </th>
                <th>{{t('first_name')}}</th>
                <th>{{t('last_name')}}</th>
                <th>{{t('first_name_pinyin')}}</th>
                <th>{{t('last_name_pinyin')}}</th>
                <th>{{t('email')}}</th>
                <th>{{t('phone')}}</th>
                <th>{{t('qq')}}</th>
                <th>{{t('status')}}</th>
                <th>{{t('application')}}</th>
                </tr>
                <!-- loop users -->
                <tr>
                <td><a href='{{baseurl}}index.php/users/{{users' value.@id}}'>{{users' value.@id}}</a></td>
                <td>{{users' value.@first_name}}</td>
                <td>{{users' value.@last_name}}</td>
                <td>{{users' value.@first_name_alphabet}}</td>
                <td>{{users' value.@last_name_alphabet}}</td>
                <td>{{users' value.@email}}</td>
                <td>{{users' value.@phone}}</td>
                <td>{{users' value.@qq}}</td>
                <td>{{users' value.@status}}</td>
                <td>
                    <!-- if {{applications' value.@applicationCount!}} > 0 -->
                    <a href="{{baseurl}}index.php/my/users/{{users' value.@id}}/applications">{{users' value.@applicationCount!}}</a>
                    <!-- else -->
                    <a href="{{baseurl}}index.php/my/users/{{users' value.@id}}/applications/create">{{t('create')}}</a>
                    <!-- endif -->
                </td>
                </tr>
                <!-- endloop -->

        </tbody></table>
        </div>

        <hr class="divider"/>
        {{pager}}
        <!-- else -->
        {{t('no_records')}}
        <!-- endif -->
