  <!-- block:content -->
      <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/themes/base/jquery-ui.css" id="theme">
    <div class="left">
        <h1>{{t('my_application')}}</h1>
<div class="message">
    {{message}}
</div>
<div class="content">
    <div class="container">
  <div id="leftSide">
  <fieldset>
      <legend>{{t('application_details')}}</legend>
    {{form}}
        </fieldset>
    </div>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
      <script type="text/javascript">
          function init() {
              if(typeof jQuery=="undefined"||typeof jQuery.fn.Zebra_Form=="undefined") {
                  setTimeout("init()",100);
                  return
              }
              var required_error = "{{t('required_error')}}";
              var pinyin_error = "{{t('pinyin_error')}}";
              var date_error = "{{t('date_error')}}";
              var messages = {"passport_no-element":{"required":required_error},
                      "passport_name-element":{"required":required_error},
                      "address-element":{"required":required_error}};

              var date_elements = ['start_date','birthday','passport_start_date','passport_end_date','visa_start_date','visa_end_date'];
              var dp_options = { dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true};
              for(var i=0; i<date_elements.length; i++) {
                  var ele = date_elements[i]+"-element";
                  if ($('#'+ele).length > 0) {
                      messages[ele] = {"required":required_error,"regexp":date_error};
                      $('#'+ele).datepicker(dp_options);
                  }
              }
              $("#form").Zebra_Form({scroll_to_error:true,
                      tips_position:'left',
                      close_tips:true,
                      validate_on_the_fly:false,
                      validate_all:false,
                      error_messages:messages});
              $('#birthday-element').datepicker($.extend(dp_options, {defaultDate:'01/01/1990'}));
          }
          init()
      </script>
</div>
</div>
    </div>
    <div class="right">
        <!-- include '/admin/sidebar' -->
    </div>

    <div style="clear: both;"> </div>
  <!-- endblock -->
