		<title>Application</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="description" content="Application management system">
		<meta name="keywords" content="DooPHP, php framework, MVC, Web 2.0, design, xhtml, css, template">

        <link rel="stylesheet" type="text/css" href="{{baseurl}}global/css/style.css" media="screen" />
        <script type="text/javascript" src="{{baseurl}}global/js/jquery-1.7.js"></script>
        <script type="text/javascript" src="{{baseurl}}global/js/zebra_form.src.js"></script>
        <script type="text/javascript" src="{{baseurl}}global/js/functions.js"></script>
