
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
        <!-- include 'header' -->
    </head>
	<body>
<!-- include 'top' -->
<div class="content">
    <div class="container">
<div id="top">
    <h1>Please complete the form below</h1>
  </div>
  <div id="leftSide">
  <fieldset>
<legend>Login details</legend>
    {{form}}
        </fieldset>
    </div>
</div>
<!-- include 'nav' -->
<!-- include 'footer' -->
	</body>
</html>
