  <!-- block:content -->
    <div class="container">
<div id="top">
    <h1>Please complete the form below</h1>
  </div>
  <div id="leftSide">
  <fieldset>
<legend>Login details</legend>
    {{form}}
        </fieldset>
    </div>
      <script type="text/javascript">
          function init() {
              if(typeof jQuery=="undefined"||typeof jQuery.fn.Zebra_Form=="undefined") {
                  setTimeout("init()",100);
                  return
              }
              $("#form").Zebra_Form({scroll_to_error:true,
                      tips_position:'left',
                      close_tips:true,
                      validate_on_the_fly:false,
                      validate_all:false,
                      error_messages:{"email-element":{"required":"Email is required!","email":"Email address seems to be invalid!"},"password-element":{"required":"Password is required!","length":"The password must have between 6 and 10 characters"},
                      "captcha_code":{"captcha":"Characters from image entered incorrectly!"}}})}
          init()
      </script>
</div>
  <!-- endblock -->
