
    <div class="header">
    <div class="header-logo">
        <a href="http://www.sunriseimmigration.co.uk/" class="logo">&nbsp; </a>  
    </div>
        <div class="header-selectors-wrapper">
        <a href="2dcode.png"> <img src="http://www.sunriseimmigration.co.uk/2dcode.png" height="50" width="50"></a>
        </div>
</div>
<div class="headermenu">
    <ul>
        <li><a href="{{rootUrl}}index.php">{{t('home')}}</a> </li>
        <li><a href="http://www.sunriseimmigration.co.uk/Topic/6-about-us.aspx"> {{t('about_us')}}</a> </li>
        <li><a href="http://www.sunriseimmigration.co.uk/Topic/9-our-service.aspx "> {{t('our_service')}}</a> </li>
        <li><a href="http://www.sunriseimmigration.co.uk/Topic/10-price.aspx "> {{t('case')}}</a> </li>
        <li><a href="http://www.sunriseimmigration.co.uk/Topic/1-contact-us.aspx"> {{t('contact_us')}}</a> </li>
    </ul>
</div>
