
    <div class="header">
    <div class="header-logo">
        <a href="http://www.sunriseimmigration.co.uk/" class="logo">&nbsp; </a>  
    </div>
        <div class="header-selectors-wrapper">
        <a href="2dcode.png"> <img src="http://sunriseimmigration.co.uk/pyrocms/files/large/24" height="50" width="50"></a>
        </div>
</div>
<div class="headermenu">
    <ul>
        <li><a href="{{rootUrl}}index.php">{{t('home')}}</a> </li>
        <li><a href="http://www.sunriseimmigration.co.uk/aboutus"> {{t('about_us')}}</a> </li>
        <li><a href="http://www.sunriseimmigration.co.uk/ourservice"> {{t('our_service')}}</a> </li>
        <li><a href="http://www.sunriseimmigration.co.uk/sucesscases "> {{t('case')}}</a> </li>
        <li><a href="http://www.sunriseimmigration.co.uk/contactus"> {{t('contact_us')}}</a> </li>
    </ul>
</div>
