
    <div class="header">
    <div class="header-logo">
        <a href="http://www.sunriseimmigration.co.uk/" class="logo">&nbsp; </a>  
    </div>
        <div class="header-selectors-wrapper">
        <a href="2dcode.png"> <img src="../global/img/2dcode.png" height="50" width="50"></a>
        </div>
</div>
<div class="headermenu">
    <ul>
        <li><a href="/Default.aspx">
            Home</a> </li>
              <li><a href="/Topic/6-about-us.aspx">
            About Us</a> </li>


            <li><a href="http://sunriseimmigration.co.uk/Topic/9-our-service.aspx ">
           Our service</a> </li>
 
        <li style=" display:none"><a href="/Search.aspx">
            Search</a> </li>
         
      
           
                 <li><a href="http://sunriseimmigration.co.uk/Topic/10-price.aspx "> 
                 CASE</a> </li>
       
        
        <li><a href="/Topic/1-contact-us.aspx">
            Contact Us</a> </li>
    </ul>
</div>
