<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <!-- include 'header' -->
    </head>
	<body>
        <!-- if {{isset(users)}} && !{{empty(users)}} -->
        <table>
            <tbody>

                <tr>
                <th># </th>
                <th>UserName </th>
                <th>Email </th>
                <th>Mobile </th>
                </tr>
                <!-- loop users -->
                <tr>
                <td>{{users' value.@id}}</td>
                <td>{{users' value.@username}}</td>
                <td>{{users' value.@email}}</td>
                <td>{{users' value.@email}}</td>
                </tr>
                <!-- endloop -->

        </tbody></table>
        <!-- endif -->

	</body>
</html>
